/* * {
  color: black;
  box-sizing: border-box;
} */

@media (min-width: 600px) {
  .form {
    width: 33.3%;
  }
}

/* .container {
  display: inline-flex;
  gap: 3rem;
  flex-direction: column;
  border: 3px solid black;
} */

.form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

label {
  display: inline-block;
}

.input {
  height: 36px;
  width: 300px;
  box-sizing: border-box;
}

.button {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid black;
  color: antiquewhite;
  background-color: black;
  border-radius: 10px;
  padding: 9px 30px;
  cursor: pointer;
}

#experimentBtn {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 9px 30px;
}

.msgBox {
  width: 242px;
}

.msgBox p {
  padding-left: 82px;
  background-position: 25px center;
  background-repeat: no-repeat;
}
