* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 481px) {
  .formWrap {
    padding: 72px 14px 65px;
  }
}

@media (min-width: 600px) {
  .form {
    width: 33.3%;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  /* display: inline-flex;
  gap: 3rem;
  flex-direction: column;
  border: 3px solid black; */
}

.formWrap {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px;
}

.form {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
}

form {
  display: block;
}

.form-title {
  display: block;
  font-size: 39px;
  text-align: center;
  padding-bottom: 44px;
}

.inputValidate {
  position: relative;
}

.inputWrap {
  width: 100%;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

/* label {
} */

.input-label {
  font-size: 15px;
  line-height: 1.5;
  padding-left: 5px;
}

input .input {
  height: 40px;
}

.input {
  display: block;
  width: 100%;
  background: 0 0;
  font-size: 18px;
  line-height: 1.2;
  padding: 0 5px;
  box-sizing: border-box;
}

.button {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid black;
  color: antiquewhite;
  background-color: black;
  border-radius: 10px;
  padding: 9px 30px;
  cursor: pointer;
}

#experimentBtn {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 9px 30px;
}

.msgBox {
  width: 242px;
}

.msgBox p {
  padding-left: 82px;
  background-position: 25px center;
  background-repeat: no-repeat;
}
